<ion-tabs class="fondo">

  <ion-tab-bar class="fondo" slot="bottom">
    <ion-tab-button class="fondo" tab="tab1">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fondo" tab="tab2">
      <ion-icon name="car-sport-sharp"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fondo" tab="tab3">
      <ion-icon name="beer-sharp"></ion-icon>
      <ion-label>Licores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
